<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685057894539-uufq3dc17u6soe0fg6iisbe80ef8qtnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685057894539-uufq3dc17u6soe0fg6iisbe80ef8qtnp</string>
	<key>API_KEY</key>
	<string>AIzaSyA0rw4I6XzTyJBZbzSWJnkKbeTcR7pjsgo</string>
	<key>GCM_SENDER_ID</key>
	<string>685057894539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alberto.gymhub</string>
	<key>PROJECT_ID</key>
	<string>gym24-7</string>
	<key>STORAGE_BUCKET</key>
	<string>gym24-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685057894539:ios:ebc38190a780e3c7dd8c8e</string>
</dict>
</plist>